<div class="header">
  <h1>マイ トラブルシューティング<br>
    <h2>どうしても変えたい自分の習慣<br>自分専用の取り扱い説明書の作りかた<br></h2>
  </h1>
</div>

<div class="main">
  <h3>マイ トラブルシューティングとは？</h3>
  <p>自分にとっての変えたい(止めたい)行動を改善するメモツールです。自分だけの取り扱い説明書でもあります。</p>
  <img src="../images/notepen.jpg" alt="note_&amp;_pen" class="note">
  <h3>なぜこれを使った方がいいの？</h3>
  <p>自分の理想像に近づくことができるからです。自分が変えたい(止めたい)と思っている行動より、本当はしたいと思う行動をした方が、理想の自分に近づきやすくなります。<%= link_to "参考にした厚生労働省のサイトです。", "http://www.e-healthnet.mhlw.go.jp/information/exercise/s-07-004.html" %><br>（例：理想の体型になりたいが、お菓子を食べ過ぎてしまう→お菓子を食べる頻度を減らしたい　など）<br>また、メモをしておくことで、何度も同じ対策を考えなくて良くなります。<br>自分に合った方法なので、効果が出やすいです。</p>
  <img src="../images/happyface.jpg" alt="happyface" class="face">
  <h3>どうやってすればいい？</h3>
  <ul>
    <li><p>変えたい行動</p></li>
    <li><p>してしまう状況(原因)</p></li>
    <li><p>その時の対策</p></li>
  </ul>
  <p>をメモしておいて<br>
    変えたい行動をしてしまう時にそのメモを見て
    対策を実行します。<br>
    また、日々の生活の中で気づいた新たな対策を、そのメモに追加していきます。<br><br>
    (例：お菓子を食べる量を減らしたい→家にいて疲れを取りたいと思った時→食べる代わりに5分間目をつぶってリラックスする)
  </p>

  <h3>最後に</h3>
  <p>少しづつメモを増やして実行していき、自分が思い描く、素敵な自分に近づいていきましょう。</p>
  <img src="../images/seikou_banzai_woman.png" alt="banzai_woman" class="woman">


  <div id="form">
    <p></p>
    <p class="form-title">Login</p>
    <form action="post">
      <p>Email</p>
      <p class="mail"><input type="email" name="mail" /></p>
      <p>Password</p>
      <p class="pass"><input type="password" name="pass" /></p>
      <p class="check"><input type="checkbox" name="checkbox" />パスワードを保存</p>
      <p class="submit"><input type="submit" value="Login" /></p>
    </form>
  </div>
</div>
<div>
  <h4>参考URL</h4>
  <%#= link_to "健康行動について(厚生労働省のサイト)",  %>
  <a href="https://www.e-healthnet.mhlw.go.jp/information/exercise/s-07-004.html" target="_blank"></a><br>
  <a href="https://www.e-healthnet.mhlw.go.jp/information/exercise/s-07-003.html" target="_blank">健康行動を高める要因(厚生労働省のサイト)</a><br>
  <a href="https://www.mhlw.go.jp/shingi/2006/08/dl/s0804-7i.pdf" target="_blank">行動変容について(厚生労働省)</a><br>
</div>
